section.sidePadding
    -var billing = $i18n.pages.billing
    h2= billing.header

    -var addr = $i18n.pages.billing.address
    div.paragraph--group
        p= $i18n.pages.billing.companyName
        p= addr.street
        p= addr.postcode + " " + addr.city
        p= addr.country
    div.paragraph--group
        each item in billing.list
            p !{item.label + ": " + item.text}

section#contact.sidePadding
    -var contact = $i18n.pages.contact
    h2= contact.header
    div.paragraph--group
        each item in contact.list
            p !{item.label + ": " + item.text}