-var section = $i18n.pages.contact
div
    p= section.description

div
    h2.font-weight-bold.margin-bottom-14= section.header
    p= section.subheader+ ":"
    br
    address
        = section.aboutUs.company
        br
        = section.aboutUs.place
        br
        = section.aboutUs.address
        br
        = 'Tel.: '
        a(href="tel:"+section.aboutUs.phone)= section.aboutUs.phone
        br
        = 'E-mail: '
        a(href="mailto:"+section.aboutUs.email)= section.aboutUs.email
        br
        a(href="http://" +section.aboutUs.website)= section.aboutUs.website
    br
div.contact-us
    p= section.contactUs.description + ":"
    br
    = 'Tel.: '
    a(href="tel:"+section.contactUs.phone)= section.contactUs.phone
    br
    a(href="tel:"+section.contactUs.email)= section.contactUs.email
    br
    br
    a.underline(href=section.contactUs.privacy.link)=section.contactUs.privacy.label